::-webkit-scrollbar {
    width: 8px;
    height: 4px;
}
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #f1f1f1;
    border-radius: 0px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #d0d0d0;
    border-radius: 0px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #d0d0d0;
}

/* Firefox Scrollbar */
html, body {
    scrollbar-color: #d0d0d0 grey;
    scrollbar-width: thin;
}
html, body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}
.content {
    width: 80%;
}
.form-group label {
    white-space: nowrap;
}

.form-group button {
    width: 100%;
}